Please enter an ISBN number to validate:

<form method="post" action="validate_match_string">
	<input type="text" name="match_string" id="match_string">
	<input type="submit" id="submit" value="Submit">
</form>