<script> 
//	onWindowLoad()
	alert('Your ISBN number <%= match_string %> is <%= results %>');
</script>

Your ISBN number <%= match_string %> is <%= results %>
<p><a href="/">Click here to try again!</a></p>